@model TheatreBlog.Models.Post

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>




<div class="form-horizontal">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h4>Post</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PostID)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PostBody, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostBody, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PostBody, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Hidden(@Model.Author)
        </div>

        <div class="form-group">
            @Html.Hidden(@Model.PublishDate.ToShortDateString())
        </div>
    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
    @foreach (var cmt in Model.Comments)
            {
       
        @Html.Partial("_DeleteCmt",cmt)
        }
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
